.container {
  width: 30%;
  min-width: 19rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 2%;
  margin-top: 3rem;
}

.tittle {
  margin-bottom: 1rem;
  text-align: center;
}
